* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "proxima-nova-soft", sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #f1e9e4;
    color: #8c8072;
    line-height: 1.5;
    padding-bottom: 50px;
}

header {
    padding: 15px 20px;
    width: 100%;
    text-align: center;
    background: #5f90b0;
    margin-bottom: 40px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    overflow: auto;
}

   header h1 {
      font-size: 24px;
      line-height: 1;
      color: #fff;
      font-family: "gooddog-new", cursive;
      float: left;
      margin-top: 4px;
   }

   .current {
        float: right;
        color: #fff;
        font-weight: bold;
        padding: 7px 14px;
        background: #fff;
        border-radius: 3px;
        color: #55bc75;
        font-size: 14px;
        line-height: 1;
   }

#outer {
    width: 450px;
    margin: 0 auto;
}


.location {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 7px;
    display: block;
    background-color: #fff;
    //box-shadow: 0 2px 0 0 #ccc;
    border-radius: 3px;
    overflow: auto;
}

    .location:hover {
        color: #fff;
        background: #55bc75;
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }

        .selected:hover {
            color: #55bc75;
        }

        .location:hover .score {
            background: #fff!important;
            color: #55bc75!important;
            -webkit-transition: none!important;
        }

    .location:active {
        position: relative;
        left: 2px;
        top: 2px;
    }

    .location .name {
        display: inline-block;
        width: 300px;
        padding: 10px 20px;
        float: left;
    }

    .location .score {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        margin-top: 7px;
        margin-right: 10px;
        line-height: 18px;
        font-size: 24px;
        border-radius: 100%;
        width: 16px;
        height: 16px;
        color: #fff;
        background: #e76740;
        padding: 10px;
        text-align: center;
        float: right;
    }

.location.selected {
    /*background-color: yellow;*/
}

.location.selected .score {
    /*color: black;*/
}

.details, .none {
    font-weight: bold;
    border-color: #111;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}



@-webkit-keyframes fade {
  0% {
      background: #cfffe6;
  }

  100% {
      background: #fff;
  }
}

@-moz-keyframes fade {
  0% {
      background: #cfffe6;
  }

  100% {
      background: #fff;
  }
}

@-ms-keyframes fade {
  0% {
      background: #cfffe6;
  }

  100% {
      background: #fff;
  }
}

@-o-keyframes fade {
  0% {
      background: #cfffe6;
  }

  100% {
      background: #fff;
  }
}

@keyframes fade {
  0% {
      background: #cfffe6;
  }

  100% {
      background: #fff;
  }
}

.selected {
  -webkit-animation-name: fade;
  -moz-animation-name: fade;
  -ms-animation-name: fade;
  -o-animation-name: fade;
  animation-name: fade;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  -o-animation-duration: 5s;
  animation-duration: 5s;
}
